<div class="activities">
  <% if @activities.empty? %>
    <div class="no-activities">
      <h2>You don't have any activities yet!</h2>
      <p><%= link_to "Create one now?", new_activity_path %></p>
    </div>
  <% else %>
    <% @activities.each do |activity| %>
      <div class="activity">
        <h2><%= link_to activity.title, activity_path(activity.id) %></h2>
        <p><%= activity.description %></p>
        <%= render "calendar", activity: activity %>
        <%= form_for @entry,
          data: { id: activity.id },
          html: { class: "new-entry", id: nil },
          url: activity_entries_path(activity) do |f| %>
          <% f.text_field :comment,
            placeholder: "What did you do today?",
            class: "entry-comment",
            id: nil
          %>
        <% end %>
      </div>
    <% end %>
    <p><%= link_to "Add Activity", new_activity_path, class: "btn" %></p>
  <% end %>
</div>
